.App
{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.question-area{
  width: 300px;
  height: 800px;
  background-color: aqua;
}

.code-area
{
  margin-left: 40px;
}

.input-area
{
  width: 1000px;
}

.input-area textarea
{
  width: 100%;
}

.compile-error{
  color: red;
  white-space: pre-line;
}